/*整个页面大的元素*/
html{
  font-size: 100px;
}
html,body{
  width: 100%;
  height: 100%;
  background: #fff;
}
.clearfix:after{
  content: '';
  display: table;
  height: 0;
  clear: both;
}
.outer{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

}
.scroll{
  transform: translate(0,0);;
  -webkit-transform: translate(0,0);;
  transition: transform 0s;
}
.list {
  width:100%;
  height: auto;
}
.item {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}
.title{
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  background: #eee;
  font-size: .5rem;
  text-align: center;
}
.content{
  width: 80%;
  height: .5rem;
  margin: 0 auto;
  background: #d3ddd5;
  line-height: .5rem;
  font-size: .3rem;
  text-align: center;
}

